:root {
    --black-rgb-a: rgba(35, 39, 42, 1);
}

#footer{
    background: var(--black-rgb-a);
    align-items: center;
    display: flex;
    justify-content: center;
    width:  1360px ;
    height: 134px;
}
#footer img{
    max-width: 100%;
}