body {
 margin: 0px;
 padding: 0px;
 overflow-x: hidden;
 /* text-align: center; */
}


h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}


/* @media (max-width:428px) {
  body{
    max-width: 428px;
  }
} */