:root {
  --white-rgb-a: rgba(255, 255, 255, 1);
}

#header {
  height: 430px;
  text-align: center;
  background-image: url("../img/backgroundheader.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-text-container {
  width: 757px;
  height: 300px;
  text-align: center;
}

#header-title {
  margin-bottom: 30px;
}

#header-title {
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;
  color: var(--white-rgb-a)
}

#header-title {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;

}

#header-paragraph {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  font-style: normal;
  color: var(--white-rgb-a);
  margin: 25px 15px 15px 15px;
}

#button1 {
  font-family: "Open Sans";
  font-weight: 400;
  size: 16px;
  width: 205px;
  height: 44px;
  border-radius: 28px;
  border: none;
  margin-right: 30px;
  color: rgba(35, 39, 42, 1)
}

#button2 {
  font-family: "Open Sans";
  font-weight: 400;
  size: 16px;
  width: 281px;
  height: 44px;
  border-radius: 28px;
  border: none;
  margin-right: 30px;
  color: var(--white-rgb-a);

  background-color: rgba(35, 39, 42, 1)
}

#header-buttons-container {
  margin-top: 25px;
}

@media (max-width:428px) {
  #header {
    max-width: 428px;
    background-size: 400%;
    background-position: center;
  }

  #header-paragraph {
    color: black;
    text-align: justify;
    color: rgba(255, 255, 255);

  }

  #header-title {
    color: rgba(255, 255, 255);
    font-size: 32px;
    text-align: start;
    margin-left: 25px;
  }

  #button1 {
    font-family: "Open Sans";
    font-weight: 400;
    size: 16px;
    width: 381px;
    height: 44px;
    margin-left: 30px;
    margin-bottom: 7px;
    border-radius: 28px;
    border: none;
    color: rgba(35, 39, 42, 1)
  }

  #button2 {
    font-family: "Open Sans";
    font-weight: 400;
    size: 16px;
    width: 381px;
    height: 44px;
    border-radius: 28px;
    border: none;
    margin-left: 30px;
    margin-top: 7px;
    color: var(--white-rgb-a);

    background-color: rgba(35, 39, 42, 1)
  }
}