:root {
    --black-rgb-a: rgba(35, 39, 42, 1);
}



#section-02 {
    display: flex;
    width: 1355px;
    margin: 50px 0px 0px 0px;
    background-color: rgba(246, 246, 246, 1);
}

#section-02-title {
    font-family: "Open Sans";
    font-weight: 800;
    margin: 15px 50px 15px 50px;
    font-size: 40px;
    color: rgba(35, 39, 42, 1);

}

#section-02-paragraph{
      font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
    padding-left: 50px;
    color: rgba(35, 39, 42, 1);
}

#text-container-section-02 {
    margin-left: 60px;
}

#container-image-section2 {
    margin-left: 0px;
}


#text-container-section-02{
    padding-top: 90px;
    padding-left: 100px;
}


  

#container-image-section2 img{
     max-width: 100%;
}


@media (max-width: 428px) {
    #section-02{
        max-width: 428px;
        flex-direction: column-reverse
    }

  
     #text-container-section-02{
        margin: 0;
        width: 100%;
        padding: 0px;
    }

     #section-02-title{
        font-size: 24px;
    }
}