:root {
    --black-rgb-a: rgba(35, 39, 42, 1);
}

#section-03 {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

#section-03-title {
    font-family: "Open Sans";
    font-weight: 800;
    margin: 15px 50px 15px 50px;
    font-size: 40px;
    color: rgba(35, 39, 42, 1);

}

#section-03-paragraph{
      font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
    padding-left: 50px;
    color: rgba(35, 39, 42, 1);
}

#text-container-section-03 {
    width: 450px;
}

#container-image-section03 {
    margin-left: 60px;
}


